//= 컬러 변수
// $black: #000000;

//= 분기점
$breakpoint-desktop: 1440px; //데스크톱
$breakpoint-wide-tablet: 1180px; //태블릿 가로
$breakpoint-tablet: 820px; //태블릿 세로
$breakpoint-mobile: 480px; //모바일

//& 데스크톱
@mixin desktop {
  @media screen and (max-width: $breakpoint-desktop) {
    @content;
  }
}
//& 태블릿 가로
@mixin wide-tablet {
  @media screen and (max-width: $breakpoint-wide-tablet) {
    @content;
  }
}
//& 태블릿 세로
@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}
//& 모바일
@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

//= 폰트 변수 정리
$blackFont: 'pretendardBlack', '맑은 고딕', 'sans-serif';
$boldFont: 'pretendardB', '맑은 고딕', 'sans-serif';
$middleFont: 'pretendardM', '맑은 고딕', 'sans-serif';
$regularFont: 'pretendardR', '맑은 고딕', 'sans-serif';
$lightFont: 'pretendardL', '맑은 고딕', 'sans-serif';

//= position style
@mixin position-style(
  $position: absolute,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $zIndex: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
}

//= flex style
@mixin flex-style($direction: row, $alignVal: center, $justifyVal: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignVal;
  justify-content: $justifyVal;
  flex-wrap: wrap;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  70% {
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes moving {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}