@import './style';

.App {
  max-width: 100vw;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
  * {
    font-size: 16px;
    font-family: $regularFont;
  }
}

.row {
  @include flex-style(row, center, center);
}

.column {
  @include flex-style(column, center, center);
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  .main-wrap {
    max-width: 100%;
    .main-content {
      @include position-style($top: 0, $left: 0, $zIndex: 2);
      width: 100%;
      height: 100vh;
      background-color: rgba($color: #000000, $alpha: 0.7);
      div {
        img {
          min-width: 100px;
          width: 10vw;
          opacity: 0.5;
        }
        &.gnb {
          background-color: white;
          @include position-style(fixed, 0);
        }
      }
    }
    .swiper {
      max-width: 100%;
      height: 100vh;
      .swiper-slide {
        @include flex-style(column, center, center);
        img {
          width: 100%;
          filter: grayscale(100%) contrast(100%);
        }
      }
    }
    .scroll-down-icon {
      @include position-style($zIndex: 6);
      top: calc(100vh - 60px);
      opacity: 0.6;
      animation: moving 1.5s infinite;
    }
  }
  .load {
    @include position-style($top: 0, $left: 0, $zIndex: 10);
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s;
    img {
      animation: ease-in-out rotate 3s;
    }
    &.active {
      transition: all 0.5s;
      opacity: 1;
    }
  }
  .content {
    height: 100vh;
    width: 100%;
  }
}
